.card {

}

.card-accomodation {
  background-color: #F2F2F2;
  border-radius:  15px;
}

.card-accomodation > h1 {
  margin:  24px;
}

.card-display {
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  margin: 0 auto;
}

.card-popular {

}

.card-appartment {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 15px;
  margin:  24px;
}

.card-appartment > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-appartment h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-appartment p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-appartment .card-appartment-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-appartment-infos {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

