#accomodation {
  display:  flex;
  justify-content: space-between;
}

#card-accomodation {
  background-color: #F2F2F2;
  border-radius:  15px;
  margin-right:  15px;
  width:  70%;
  padding-top:  24px;
}

#card-accomodation > a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  margin: 24px;
  font-weight: bold;
}

#card-accomodation h2 {
  margin-left:  26px;
  font-size:  20px;
}

#card-display {
  display: flex;
  flex-wrap:  wrap;
  justify-content: space-between;
  border-radius: 15px;
}

#card-display > a {
  color: black;
  text-decoration: none;
}

#card-display h2 {
  font-size: 18px;
  font-weight: bold;
  padding-left: 24px;
}

#card-display .card-appartment {
  display:  flex;
  flex-direction: column;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 15px;
  margin:  24px;
  width:  25%;
}

#card-display .card-appartment .rounded {
  object-fit:  cover;
  height: 130px;
  width:  auto;
  padding:  5px;
  border-top-left-radius:  15px;
  border-top-right-radius:  15px;
}

#card-display .card-appartment-infos {
  padding-left:  16px;
}
#card-display .card-appartment-infos h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 5px;
  padding-left: 0px;
}

#card-display .card-appartment-infos p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  padding-bottom: 5px;
}

#card-display .card-appartment-infos i {
  padding-bottom: 5px;
  font-size:  13px;
}


#card-popular {
  display:  flex;
  flex-direction:  column;
  background-color: #F2F2F2;
  border-radius:  15px;
  margin-left:  15px;
  width:  30%;
}

#card-popular > a {
  color: black;
  text-decoration: none;
}

#card-popular #title {
  display:  flex;
  justify-content:  space-between;
  padding-top: 8px;
  padding-bottom: 2px;
}

#card-popular #title h1 {
  padding-left:  22px;
}

#card-popular #title i {
  font-size: 25px;
  margin: 16px;
  padding-right: 8px;
  padding-top: 4px;
}

#card-popular .card-appartment {
  display:  flex;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 15px;
  margin:  24px;
  width:  85%;
  height:  25%;
}

#card-popular .card-appartment-infos .stars {
  padding-top:  42px;
}

#card-popular .card-appartment .first-line {
  padding-top:  14px;
}

#card-popular .card-appartment .rounded {
  object-fit: cover;
  height: 140px;
  width:  140px;
  padding:  5px;
  border-top-left-radius:  15px;
  border-bottom-left-radius:  15px;
}

#card-popular .card-appartment-infos {
  padding-left:  16px;
}
#card-popular .card-appartment-infos h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 5px;
}

#card-popular .card-appartment-infos p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  padding-bottom: 5px;
}

#card-popular .card-appartment-infos i {
  padding-bottom: 5px;
  font-size:  13px;
}

@media all and (max-width:  1248px) {

  #card-popular .card-appartment-infos {
  padding-left:  4px;
}
  #card-popular .card-appartment-infos .stars {
    padding-top: 10px;
  }
}

@media all and (max-width:  1146px) {
  #card-popular .card-appartment-infos .stars {
    padding-top: 0px;
  }
}

@media all and (max-width:  1100px) {

  #card-popular .card-appartment-infos p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
    padding-bottom: 0px;
  }
  #accomodation {
    display:  flex;
    justify-content: space-between;
    flex-direction:  column-reverse;
  }

  #card-accomodation {
    margin-right:  15px;
    border-radius:  15px;
    width:  100%;
    border-radius:  0px;
    background-color: white;
  }

  #card-display {
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-between;
    border-radius: 15px;
  }

  #card-popular {

    margin-left: 0px;
    border-radius:  0 0 0 0;
    width:  100%;
    border-radius:  0px;
  }

  #card-popular .card-appartment {
    height:  210px;
    width:  400px;
    align-self: center;
  }
  #card-display .card-appartment {
    height:  210px;
    width:  400px;
    align-self:  center;
  }

  #card-popular .card-appartment .rounded {
    object-fit: cover;
    height: 196px;
    width: 170px;
    padding: 7px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }


  #card-display .card-appartment .rounded {
    object-fit: cover;
    height: 124px;
    width: 386px;
    padding: 7px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  #card-popular .card-appartment .first-line {
    padding-top:  26px;
    font-size:  20px;
    font-weight:  bold;
  }

  #card-popular .card-appartment-infos h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 5px;
  }

  #card-popular .card-appartment-infos p {
    font-size: 16px;
    opacity: .7;
    margin: 0;
    padding-top: 10px;
  }

  #card-popular .card-appartment-infos .stars {
    padding-top: 10px;
  }

  #card-display .card-appartment-infos h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 5px;
    padding-left: 0px;
    }

  #card-display .card-appartment-infos p {
    font-size: 16px;
    opacity: .7;
    margin: 0;
    padding-bottom: 5px;
  }
}

@media all and (max-width:  895px) {
  #accomodation {
    display:  flex;
    flex-direction:  column-reverse;
  }

  #card-accomodation {
    margin-right:  0px;
    border-radius:  0;
    background-color:  white;
  }

  #card-display {
    display:  flex;
    flex-direction:  column;
    margin-left: 0px;
    border-radius:  0 0 0 0;
    width:  auto;
  }
}

@media all and (max-width:  748px) {


  #card-popular {
    margin-left: 0px;
    border-radius:  0 0 0 0;
    width:  auto;
  }

  #card-popular .card-appartment {
    height:  210px;
    width:  400px;
    align-self: center;
  }
  #card-display .card-appartment {
    height:  210px;
    width:  400px;
    align-self:  center;
  }

  #card-popular .card-appartment .rounded {
    object-fit: cover;
    height: 196px;
    width: 170px;
    padding: 7px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }


  #card-display .card-appartment .rounded {
    object-fit: cover;
    height: 124px;
    width: 386px;
    padding: 7px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  #card-popular .card-appartment .first-line {
    padding-top:  26px;
    font-size:  20px;
    font-weight:  bold;
  }

  #card-popular .card-appartment-infos h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 5px;
  }

  #card-popular .card-appartment-infos p {
    font-size: 16px;
    opacity: .7;
    margin: 0;
    padding-top: 10px;
  }

  #card-popular .card-appartment-infos .stars {
    padding-top: 52px;
  }

  #card-display .card-appartment-infos h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 5px;
    padding-left: 0px;
    }

  #card-display .card-appartment-infos p {
    font-size: 16px;
    opacity: .7;
    margin: 0;
    padding-bottom: 5px;
  }
}
