body {
  font-family: Raleway;
  margin: 0px;
  padding:  0px;
}

header {
  margin-right:  60px;
}

#bloc_page {
  margin:  24px;
}


@media all and (max-width:  1050px) {
  #bloc_page {
    margin:  0px;
  }
}


@media all and (max-width:  748px) {

  header {
    margin:  0px;
  }

  #bloc_page {
  margin:  0px;
  }
}
