#full_navbar {
  background-image: url("../../images/logo/Reservia.svg");
  background-repeat: no-repeat;


  background-position:  25px 25px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}


/*LOGIN*/

#login {
  margin-top:  42px;
}
#login a {
  color:  #0065FC;
  font-weight: bold;
  text-decoration: none;
}


/*NAVBAR*/
#navbar nav ul {
  list-style: none;
  display: flex;
}


#navbar nav li a {



  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-top: 3px solid transparent;
  margin-right: 15px;
  color:  black;
}

#navbar nav li a:hover {
  border-top: 3px solid #0065FC;
  color: #0065FC;
}


@media all and (max-width:  1024px) {


  #full_navbar {
    display: flex;
    flex-direction: column;
  }

  #login {
    display:  flex;
    justify-content: flex-end;
  }

  #navbar {
   /* display:  flex;
    justify-content:  space-between;*/
    width:  100%;
  }

  #navbar nav {
    width:  100%;
  }

  #navbar nav ul {
    list-style: none;
    display: flex;
    margin: 0px;
    padding:  0px;
    padding-top: 20px;
    width:  100%;
  }

  #navbar nav li {
    width:  50%;
    text-align:  center;
  }


  #navbar nav li a {

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  margin-right: 15px;
  color:  black;
}
  #navbar nav li a:hover {
  border-top:  none;
  border-bottom: 3px solid #0065FC;
  color: #0065FC;

}


}
