#full_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#login_and_navbar {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

/*LOGIN*/
#login a {
  color:  #0065FC;
  font-weight: bold;
  text-decoration: none;
}


/*NAVBAR*/
#navbar nav ul {
  list-style: none;
  display: flex;
}

#navbar nav li a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-top: 3px solid transparent;
  margin-right: 15px;
  color:  black;
}

#navbar nav li a:hover {
  border-top: 3px solid #0065FC;
    color: #0065FC;

}

/*#navbar nav li a:active {
  border-top: 3px solid #0065FC;
}*/
/*
#navbar nav li a.active {
  border-top: 3px solid #0065FC;
  color:  #0065FC;
}*/


@media all and (max-width:  1024px) {
  #full_navbar {
    display:  flex;
  flex-wrap: wrap;
}

  #login_and_navbar {
  display:  flex;
  align-items: center;
  flex-direction: column;
  }


}
