#full_navbar {
  background-image: url("../../images/logo/Reservia.svg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}


/*LOGIN*/
#login a {
  color:  #0065FC;
  font-weight: bold;
  text-decoration: none;
}


/*NAVBAR*/
#navbar nav ul {
  list-style: none;
  display: flex;
}

#navbar nav li a {



  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-top: 3px solid transparent;
  margin-right: 15px;
  color:  black;
}

#navbar nav li a:hover {
  border-top: 3px solid #0065FC;
  color: #0065FC;
}


@media all and (max-width:  1024px) {
  #full_navbar {
    display: flex;
    flex-direction: column;
  }

  #login {

    justify-content: flex-end;
  }

  #navbar {
    justify-content:  space-between;
  }

  #navbar nav li a {

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  margin-right: 15px;
  color:  black;
}
  #navbar nav li a:hover {
  border-top:  none;
  border-bottom: 3px solid #0065FC;
  color: #0065FC;

}


}
