/*------ TITLE ------*/
#title h3 {
 font-weight:  bolder;
}

#title p {
  padding-top: 0px;
}


/*------ SEARCH BAR ------*/
#search-bar {
  border:  1px solid #F2F2F2;
  width: 400px;
  border-radius:  12px;
  height:  48px;
  display:  block;
}

#search-bar i {
  font-size:  16px;
  width:  18px;
  padding:  16px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #F2F2F2;
}

#search-bar input {
  font-weight:  bolder;
  font-size:  16px;
  padding-left:  16px;
  border:  0px;
  width:  191px;
}

#search-button {
  height:  48px;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #0065FC;
  border:  0px;
  font-weight:  bolder;
  font-size: 16px;
  padding:  0px 16px 0px 16px;
  width:  132px;
}

#search-button span {
  display:inline-block;
}

#search-button > i {
  display:  none;
}


/*------ FILTERS ------*/
#filters h4 {
  font-weight:  bolder;
}

#filters {
  display: flex;
  /*justify-content: space-between;
  justify-content:  flex-start;*/
  align-items:  center;
  text-decoration:  none;
}

#filters ul {
  display:  flex;
  flex-wrap:  wrap;

  list-style:  none;
  padding-left:  0px;
}

#filters li {
  height: 43px;
  border: 2px solid #F2F2F2;
  border-radius: 39px;
  margin-left: 8px;
  margin-right: 8px;
}

#filters li a {
  color:  black;
  text-decoration:  none;
  font-weight: bold;
}

#filters li:hover {
  background-color: #0065FC;
}

#filters li a:hover {
  color:  white;
}

#filters li a i {
  display: inline-block;
  color:  #0065FC;
  border-radius:  50%;
  border: 1px #4A4A4A;
  padding:  12px;
  background-color:  #DEEBFF;
  text-align: center;
  width: 20px;
  height: 20px;
}

#filters li a span {
  padding-left:  10px;
  padding-right: 10px;
}

/*------- INFO --------*/
#info {
  display:  flex;
  align-items:  center
}
#info i {
  color:  #0065FC;
  margin-right: 10px ;
  border: 1px solid #DEEBFF;
  border-radius: 50%;
  padding: 3px;
  width: 12px;
  height: 12px;
  text-align: center;
  font-size: 12px;
}


@media all and (max-width:  1050px) {
  #search {
    margin:  8px;
  }
}

@media all and (max-width:  748px) {
  #search {
    margin-left:  10px;
    margin-right:  10px;
  }

  #title h3 {
    white-space: normal;
    font-size:  30px;
  }

  #title p {
    font-size:  17px;
  }

  #search-bar {
    margin-left:  24px;
  }

  #search-bar {
    border:  1px solid #F2F2F2;
    width: 380px;
    border-radius:  12px;
    height:  48px;
    display:  block;
  }

  #search-bar i {
    font-size:  16px;
    padding:  16px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #F2F2F2;

  <i class="fas fa-search"></i>
  }

  #search-bar input {
    font-weight:  bolder;
    font-size:  16px;
    padding-left:  16px;
    border:  0px;
  }

  #search-button {
    height:  48px;
    width:  48px;
    color: white;
    border-radius: 10px;
    background-color: white;
    border:  0px;
    margin-left:  47px;

  }

  #search-button span {
    display:none;
  }
  #search-button > i {
    display:  inline-block;
    background-color: #0065FC;
    border-radius: 10px;
  }

  #filters {
    display: flex;
    flex-direction: column;
    justify-content:  flex-start;
    /*align-items:  center;
    text-decoration:  none;*/*/
  }

  #filters h4 {
    font-weight: bolder;
    align-self: flex-start;
  }

  #filters ul {
    display:  flex;
    align-self: flex-start;
    flex-wrap:  wrap;
    margin-top:  0px;
    list-style:  none;
  }

  #filters li {
    align-self: flex-start;
    height: 43px;
    border: 2px solid #F2F2F2;
    border-radius: 39px;
    margin-left: 0px;
    margin-bottom:  4px;
  }
}
